@using EvidenceProject.Controllers.ActionData
@model EvidenceProject.Controllers.ActionData.ProfileData
@{
    ViewData["Title"] = "profile";
    ViewData["Page"] = "profile";
}
@if(Model == null) return;
@{var splittedName = Model.AuthUser.fullName?.Split(" ");}
@if(Model.AuthUser != null){
    <div>
    <h2>Profil</h2>
    <form method="post" action="/user/edit/@Model.AuthUser.id">
        <label for="firstname">Jméno:</label>
        <input type="text" name="firstname" value="@splittedName[0]" required>
        <label for="lastname">Příjmení:</label>
        @{
            if (splittedName.Length >= 2)
            {
                        <input type="text" name="lastname" value="@splittedName[1]" required>
            }
            else{
                            <input type="text" name="lastname" required>
            }
        }
        <label for="contact">Kontakt(email, github,..):</label>
        <input type="text" name="contact" value="@Model.AuthUser.contactDetails" required>
        @await Html.PartialAsync("../Shared/DatalistsPV", Model.AuthUser)
        <label for="username">Uživatelské jméno:</label>
        <input type="text" name="username" value="@Model.AuthUser.username" required>
        <label for="password">Heslo:</label>
        <input type="password" name="password" required>
        <input type="submit" value="Změnit">
    </form>
    </div>
}

@if(Model.Projects != null && Model.Projects?.Count > 0)
{
    <div id="projects">
    <h2>Projekty</h2>
    @foreach(var project in Model.Projects.OrderBy(x => x.projectManager?.id == Model.AuthUser.id))
    {
        <p>@project.name</p>
        if(project.projectManager.id == Model.AuthUser?.id || Model.AuthUser.globalAdmin.Value)
        {
            <a href="/project/edit/@project.id">Editovat</a>
        }
    }
    </div>
}
@if (Model.Users != null && Model.Users.Count > 0)
{
    <div id="user">
    <h2>Všichni ověření uživatelé</h2>
    @foreach (var user in Model.Users)
    {
        splittedName = user.fullName?.Split(" ");
        <p>Uživatel: @user.fullName</p>
        <form method="post" action="/user/edit/@user.id">
            <label for="firstname">Jméno:</label>
                <input type="text" name="firstname" value="@splittedName[0]" required>
            <label for="lastname">Příjmení:</label>
            @{
                if (splittedName.Length >= 2)
                {
                    <input type="text" name="lastname" value="@splittedName[1]" required>
                }
                else{
                    <input type="text" name="lastname" required>
                }
            }
            <label for="contact">Kontakt(email, github,..):</label>
            <input type="text" name="contact" value="@user.contactDetails" required>
            @await Html.PartialAsync("../Shared/DatalistsPV", user)
            <label for="username">Uživatelské jméno:</label>
            <input type="text" name="username" value="@user.username" required>
            <label for="password">Heslo:</label>
            <input type="password" name="password" required>
            <input type="submit" value="Změnit">
        </form>
        <a href="/user/delete/@user.id" style="color: red;">Odstranit</a>
    }
    </div>
}

@if(Model.NonAuthUsers != null && Model.NonAuthUsers.Count > 0)
{
    <br />
    <div id="nonuser">
    <h2>Žádosti o přiřazení k projektu</h2>
    @foreach (var item in Model.NonAuthUsers)
    {
        if (item.GetType().Name != "User") continue;
        if(item.Projects?.Count > 0)
        {
                var splittedFullname = item.fullName?.Split(" ");
                var Data = new RegisterData()
                    {
                        Firstname = splittedFullname[0],
                        Lastname = splittedFullname[1],
                        SchoolYear = item.schoolYear.ToString(),
                        StudyField = item.studyField,
                        Contact = item.contactDetails
                    };
                <p>@item.fullName</p>
                <form method="post" action="/user/promote/@item.id">
                    @await Html.PartialAsync("../Shared/RegisterInputsPV", model: Data)
                    <input type="hidden" name="projectId" value="@item.Projects[0].id"/>
                </form>
                continue;
        }
        var projects = @Model.Projects?.Where(x => x.applicants.Any(x => x.id == item.id)).ToList();
        if (projects == null) continue;

        foreach(var project in projects)
        {
            <p>@item.fullName žádá o přiřazení k projektu: @project.name </p> 
            <form method="post" action="/project/addUser/@item.id">
                <input type="hidden" value="@project.id" name="projectId">
                <input type="submit" value="Přijmout">
            </form>
            <form method="post" action="/project/deleteUser/@item.id">
                <input type="hidden" value="@project.id" name="projectId">
                <input type="submit" value="Odmítnout">
            </form>
        }
    }
    </div>
}

@if(Model.Categories != null && Model.Categories.Count > 0){
    <div id="categories">
    <h2>Úprava kategorií</h2>
    @foreach (var category in Model.Categories)
    {
        <p>Název kategorie: @category.name</p>
            <form method="post" action="/dialinfo/edit/@category.id">
            <label for="name">Název kategorie:</label>
            <input name="name" type="text" placeholder="..." id="name" value="@category.name"/>
            <label for="description">Popis:</label>
            <input name="description" type="text" placeholder="..." id="description" value="@category.desc" />
            <input type="submit" placeholder="Změnit" />
        </form>
        
        @foreach(var categoryItem in category?.dialCodes?.ToList()){
            <p>@category.name -> @categoryItem.name</p>
                <form method="post" action="/dialcode/edit/@categoryItem.id">
                <label for="name">Název:</label>
                <input name="name" type="text" placeholder="..." id="name" value="@categoryItem.name" />
                <label for="description">Popis:</label>
                <input name="description" type="text" placeholder="..." id="description" value="@categoryItem.description" />
                <label>Barva</label>
                <input type="color" name="color" value="@UniversalHelper.GetHtmlColor(categoryItem.color)" />
                <label>Kategorie</label>
                <input name="dialInfoName" list="stavy" value="@categoryItem.dialInfo.name"/>
                <input type="submit" placeholder="Změnit" />
            </form>
        }
    }
    </div>
}

@if(Model.AuthUser.globalAdmin.Value){
    <div>
    <p>Editace CSS</p>
    <form method="post" action="/file/edit/css/override.css">
    <textarea name="fileData">
        @UniversalHelper.GetDataFromWWWRoot("override.css")
    </textarea>
    <input type="submit" value="Editovat override.css">
    </form>
    </div>
}