@using EvidenceProject.Controllers.ActionData
@model AdministrationData

@{
    List<User>? usersWithProject = Model.NonAuthUsers?.Where(x => x.Projects?.Count > 0).ToList();
    List<User>? usersWithoutProject = Model.NonAuthUsers?.Where(x => x.Projects == null || x.Projects.Count == 0).ToList();

    var session = ViewContext.HttpContext.Session;
    var currentUserID = session.GetInt32(UniversalHelper.LoggedInKey);
    var isAdmin = session.GetInt32(UniversalHelper.IsAdmin) == 1;

    ViewData["Title"] = "Administrace";
    ViewData["Page"] = "Administrace";
}

<h1>Administrace</h1>

@if (!Model.Projects.IsNull() && Model.Projects?.Count > 0)
{
    <h2>Projekty</h2>
    <div class="projects">
        @foreach (var project in Model.Projects)
        {
            <div>
                <p>Název projektu: @project.name</p>
                @{
                    var projectDesc = UniversalHelper.GetTrimmedDescription(project);
                }
                <p>Popis: @projectDesc</p>
                <a href="/project/edit/@project.id">Editovat</a>
            </div>
        }
    </div>
}

@if (!Model.Users.IsNull() && Model.Users.Count > 1)
{
    <h2>Všichni ověření uživatelé</h2>
    <div class="allVerifiedUsers adminForm">
            @foreach (var user in Model.Users)
            {
                if (user.id == currentUserID) continue;
                var splittedName = user.fullName?.Split(" ");
                <div class="user">
                <p>Uživatel: @user.fullName</p>
                <form method="post" action="/user/edit/@user.id">
                    <label for="firstname">Jméno:</label>
                        <input type="text" name="firstname" value="@splittedName[0]" required>
                    <label for="lastname">Příjmení:</label>
                    @{
                        if (splittedName.Length >= 2)
                        {
                            <input type="text" name="lastname" value="@splittedName[1]" required>
                        }
                        else{
                            <input type="text" name="lastname" required>
                        }
                    }
                    <label for="contact">Kontakt(email, github,..):</label>
                    <input type="text" name="contact" value="@user.contactDetails" required>
                    @await Html.PartialAsync("../Shared/DatalistsPV", user)
                    <label for="username">Uživatelské jméno:</label>
                    <input type="text" name="username" value="@user.username" required>
                    <label for="password">Heslo:</label>
                    <input type="hidden" name="caller" value="/Administration">
                    <input type="password" name="password" required>
                    <input type="submit" value="Změnit">
                </form>
                    <form method="post" action="/user/delete/@user.id">
                    <div id="delete">
                        <input type="submit" style="color: transparent; background: transparent;">
                    </div>
                </form>
            </div>
    }
    </div>
}



@if(usersWithProject?.Count > 0)
{
    <h2>Povýšit uživatele na ověřeného uživatele</h2>
    <div class="adminForm userPromotions" >
    @foreach (var item in usersWithProject)
    {
        <div>
            @{
             var splittedFullname = item.fullName?.Split(" ");
             var Data = new RegisterData()
                {
                    Firstname = splittedFullname[0],
                    Lastname = splittedFullname[1],
                    SchoolYear = item.schoolYear.ToString(),
                    StudyField = item.studyField,
                    Contact = item.contactDetails
                };
            <p>Jméno a příjmení: @item.fullName</p>
            <form method="post" action="/user/promote/@item.id">
                 @await Html.PartialAsync("../Shared/RegisterInputsPV", model: Data)
                <input type="hidden" name="projectId" value="@item.Projects[0].id" />
             </form>
            }
        </div>
    }
    </div>
}

@if(!usersWithoutProject.IsNull() && usersWithoutProject.Count > 0) 
{
    <h2>Žádosti o přiřazení k projektu</h2>
    <div class="adminForm userProjectAdd">
        @foreach (var item in usersWithoutProject)
        {
            <div>
            @{
                var projects = @Model.Projects?.Where(x => x.applicants.Any(x => x.id == item.id)).ToList();
                if (projects == null) continue;

                foreach (var project in projects)
                {
                    <p>@item.fullName žádá o přiřazení k projektu: @project.name </p>
                    <form method="post" action="/project/addUser/@item.id">
                        <input type="hidden" value="@project.id" name="projectId">
                        <input type="submit" value="Přijmout">
                    </form>
                    <form method="post" action="/project/deleteUser/@item.id">
                        <input type="hidden" value="@project.id" name="projectId">
                        <input type="submit" value="Odmítnout">
                    </form>
                }
            }
            </div>
        }
    </div>
}


@if(!Model.Categories.IsNull() && Model.Categories.Count > 0)
{
    <div id="categories">
    <h2>Úprava kategorií</h2>
    @foreach (var category in Model.Categories)
    {
        <p>Název kategorie: @category.name</p>
            <form method="post" action="/dialinfo/edit/@category.id">
            <label for="name">Název kategorie:</label>
            <input name="name" type="text" placeholder="..." id="name" value="@category.name"/>
            <label for="description">Popis:</label>
            <input name="description" type="text" placeholder="..." id="description" value="@category.desc" />
            <input type="submit" placeholder="Změnit" />
        </form>
        
        @foreach(var categoryItem in category?.dialCodes?.ToList()){
            <p>@category.name -> @categoryItem.name</p>
                <form method="post" action="/dialcode/edit/@categoryItem.id">
                <label for="name">Název:</label>
                <input name="name" type="text" placeholder="..." id="name" value="@categoryItem.name" />
                <label for="description">Popis:</label>
                <input name="description" type="text" placeholder="..." id="description" value="@categoryItem.description" />
                <label>Barva</label>
                <input type="color" name="color" value="@categoryItem.GetHtmlColor()" />
                <label>Kategorie</label>
                <input type="text" name="dialInfoName" list="stavy" value="@categoryItem.dialInfo.name" />
                <input type="submit" placeholder="Změnit" />
            </form>
        }
    }
    </div>
}

@if (isAdmin)
{
    <div id="cssOverride">
    <p>Editace CSS</p>
    <form method="post" action="/file/edit/css/override.css">
    <textarea name="fileData">
        @UniversalHelper.GetDataFromWWWRoot("override.css")
    </textarea>
    <input type="submit" value="Editovat override.css">
    </form>
    </div>
}

@await Html.PartialAsync("../Shared/CategoriesPV", model: Model.Categories)
@await Html.PartialAsync("../Shared/ToxicPopupPV", Model.Response)
