@model EvidenceProject.Controllers.ActionData.ProjectData
@{
    ViewData["Title"] = $"{Model.Project.name}";
    List<Achievement>? achievements = Model.Project.projectAchievements?.ToList();
    List<DbFile>? images = Model.Project.files?.Where(f => f.mimeType.Contains("image")).ToList();
    List<DbFile>? otherFiles = Model.Project.files?.Where(f => !f.mimeType.Contains("image")).ToList();
}


<a asp-area="" asp-controller="Home" asp-action="Index">Zpátky</a>

@if (Model == null) return;

<p><b>@Model.Project.name</b></p>
@if (Model.Project.projectTechnology?.Count > 0){
    <p>Technologie: 
    @foreach (var item in Model.Project?.projectTechnology)
    {
        <span style="color:@item.GetHtmlColor()">@item.name</span>
    }
    </p>
}
@if(!Model.Project.projectState.IsNull()){
    <p>Stav: <span style="color: @Model.Project.projectState.GetHtmlColor()">@Model.Project?.projectState?.name</span></p>
}
@if(!Model.Project.projectType.IsNull()){
    <p>Typ: <span style="color: @Model.Project.projectType.GetHtmlColor()">@Model.Project?.projectType?.name</span></p>
}
@if (achievements?.Count > 0)
{
    <p>Úspěchy: @UniversalHelper.GetAchievements(achievements)</p>
}
@if (!Model.Project.github.IsNull())
{
    <p>Github: @Model.Project?.github</p>
}
@if (!Model.Project.slack.IsNull())
{
    <p>Slack: @Model.Project?.slack</p>
}
@if (Model.Project.assignees?.Count > 0)
{
    <p>Zapojení lidé: </p>
    @foreach (var assignee in Model.Project.assignees?.ToList())
    {
        <p> @assignee.fullName</p>
    }           
}

@if(images?.Count > 0){
    <p>Obrázky</p>
    @foreach (var item in images)
    {
        <img src="/file/@item.generatedFileName" />
    }
}


@if (otherFiles?.Count > 0)
{
    <p>Ostatní soubory</p>
    @foreach (var item in otherFiles)
    {
        <a href="/file/@item.generatedFileName">@item.originalFileName</a>
    }
}

<p>Projevit zájem</p>
<form method="post" action="/project/apply/@Model.Project.id">
    <input type="text" name="firstname" placeholder="Jméno..." required />
    <input type="text" name="lastname" placeholder="Příjmení..." required />
    @await Html.PartialAsync("../Shared/DatalistsPV", model: null)
    <input type="text" name="contact" placeholder="Kontakt..." required />
    <input type="submit" value="Mám zájem"/>
</form>
@await Html.PartialAsync("../Shared/ToxicPopupPV", Model.Response)
